* {
	margin: 0;
	padding: 0;
}
#app {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.svg-wrapper {
	width: fit-content;
	height: fit-content;
}
.lowerJaw {
	transition: transform 50ms ease-out;
}
